SOAP_Projects/SoapWS_HelloWorldDemo1/WebContent/wsdl/MySoapWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.jaxws.journaldev.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.jaxws.journaldev.com" xmlns:intf="http://service.jaxws.journaldev.com" xmlns:tns1="http://beans.jaxws.journaldev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.jaxws.journaldev.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.jaxws.journaldev.com"/>
   <element name="addPerson">
    <complexType>
     <sequence>
      <element name="p" type="tns1:Person"/>
      <element name="addr" type="tns1:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPersonResponse">
    <complexType>
     <sequence>
      <element name="addPersonReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="WSException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:WSException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.jaxws.journaldev.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://service.jaxws.journaldev.com"/>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="line1" nillable="true" type="xsd:string"/>
     <element name="line2" nillable="true" type="xsd:string"/>
     <element name="pin" nillable="true" type="xsd:long"/>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Person">
    <sequence>
     <element name="addr" nillable="true" type="tns1:Address"/>
     <element name="age" type="xsd:int"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addPersonResponse">

      <wsdl:part element="impl:addPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPersonRequest">

      <wsdl:part element="impl:addPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WSException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MySoapWS">

      <wsdl:operation name="addPerson">

         <wsdl:input message="impl:addPersonRequest" name="addPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPersonResponse" name="addPersonResponse">

       </wsdl:output>

         <wsdl:fault message="impl:WSException" name="WSException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MySoapWSSoapBinding" type="impl:MySoapWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSException">

            <wsdlsoap:fault name="WSException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MySoapWSService">

      <wsdl:port binding="impl:MySoapWSSoapBinding" name="MySoapWS">

         <wsdlsoap:address location="http://localhost:8080/SoapWS_HelloWorldDemo1/services/MySoapWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
